* {
  margin: 0;
  padding: 0;
}

.barraNav {
  width: 100%;
  height: 60px;
  background-color: #100415;
  display: flex;
  justify-content: space-between;

  &__contenedor {
    display: flex;
  }
  &__logo {
    width: 60px;
    height: 60px;
  }
  &__lista {
    display: flex;
  }
  &__link {
    text-decoration: none;
  }
  &__itemsDeLaLista {
    list-style: none;
    color: white;
    font-size: 18px;
    margin: 20px;
  }
  &__link:hover{
    background-color: blueviolet;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white;
  }
}

.logoDelCarrito {
    margin: 0px 10px 10px 10px;
    width: 30px;
    height: 30px;
  }
  .contadorCarrito{
    width: 15px;
    height: 15px;
    border: 2px purple solid;
    border-radius: 100%;
    background-color: purple;
    text-align: center;
    box-shadow: 1px 2px 51px 32px rgba(138,43,226,1);
    color: white;
  }
.inactive {
  display: none;
}

.carrito {
  position: absolute;
  top: 60px;
  right: 0;
  width: 400px;
  height: 300px;
  background-color: wheat;

  &__cerrarCarrito {
    color: #100415;
    width: 60px;
    height: 60px;
  }
  &__parteSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    
    h3 {
      font-size: 30px;
      padding: 10px;
    }
  }

}



.Footer {
  
  width: 100%;
  height: 250px;
  background-color: #100415;
  position: fixed;
  bottom: 0;

  &__logo {
    width: 60px;
    height: 60px;
  }

  &__lista {
    display: flex;
    flex-direction: column;
  }
  &__link {
    text-decoration: none;
  }
  &__itemsDeLaLista {
    list-style: none;
    color: white;
    font-size: 18px;
    margin: 20px;
  }
  &__link:hover{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white;
  }
}





