@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Teko', sans-serif;
}

.barraNav {
  width: 100%;
  height: 60px;
  background-color: #100415;
  display: flex;
  justify-content: space-between;

  &__contenedor {
    display: flex;
  }
  &__logo {
    width: 60px;
    height: 60px;
  }
  &__lista {
    display: flex;
  }
  &__link {
    text-decoration: none;
  }
  &__itemsDeLaLista {
    list-style: none;
    color: white;
    font-size: 18px;
    margin: 20px;
  }
  &__link:hover{
    background-color: blueviolet;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white;
  }
}

.logoDelCarrito {
    margin: 0px 10px 10px 10px;
    width: 30px;
    height: 30px;
  }
  .contadorCarrito{
    width: 15px;
    height: 15px;
    border: 2px purple solid;
    border-radius: 100%;
    background-color: purple;
    text-align: center;
    box-shadow: 1px 2px 51px 32px rgba(138,43,226,1);
    color: white;
  }
.inactive {
  display: none;
}

.carrito {
  position: absolute;
  top: 60px;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #100415;
  z-index: 3;

  &__cerrarCarrito {
    color: white;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  &__parteSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    
    h3 {
      font-size: 30px;
      padding: 10px;
      color: white;
    }
  }

}

.containerProductos {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  .producto{
    border: 2px #100415 solid;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    position: relative;
    margin-bottom: 20px;

    img{
      width: 80%;
      height: 200px;
      padding: 20px;
    }
    h3 {
      padding: 10px;
    }
    p {
      position: absolute;
      bottom: 10px;
      left: 10px;
      padding: 10px;
      font-size: 20px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #100415;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      width: 70px;
      height: 50px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      cursor: pointer;
      font-family: 'Teko', sans-serif;
      font-size: 20px;
    }
  }
}

.Footer {
  
  width: 100%;
  height: 270px;
  background-color: #100415;

  &__logo {
    width: 60px;
    height: 60px;
  }

  &__lista {
    display: flex;
    flex-direction: column;
  }
  &__link {
    text-decoration: none;
  }
  &__itemsDeLaLista {
    list-style: none;
    color: white;
    font-size: 18px;
    margin: 20px;
  }
  &__link:hover{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white;
  }
}





